<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AcademiaBach</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css">
    <script src="/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js"></script>




        <style>
 

        .listaTareasEliminadas {
            background-color: rgb(163, 186, 217);
            overflow-y: auto;      
            padding: 1%;
            font-family: sans-serif;
             color: rgb(0, 0, 0);;
            
            
        }

        .listaTareasEliminadas li {
            list-style-type: none;
            display: flex;
            flex-direction: row; 
            align-items: center;
            background-color: white; 
            border: 1px solid #ccc; 
            padding: 0.5%;
        }



        .nuevaTarea {
         
            position: absolute;
            padding: 10px;
            width: 100%;
            font-size: 1vw;
            background-color: rgb(255, 255, 255);
            
        }    


        .row {
            background-color: rgb(255, 255, 255);
            margin-bottom: 15px; 
            margin: 0.7% 0%;
            padding: 0.4%;
        }



        .textoexplicativo {
            color: rgb(255, 255, 255);
            font-family: 'Arial', sans-serif; 
            font-size: 1.2vw;
            position: absolute;
            top: 85%;
            left: 44%;
                
        }

        .textoexplicativo2 {
            color: rgb(255, 255, 255);
            font-family: 'Arial', sans-serif; 
            font-size: 1.2vw;
            position: absolute;
            top: 89%;
            left: 44%;
                
        }

    
        @media screen and (max-width: 600px) {
                        
        /*
    
            .listaTareasEliminadas {
                background-color: rgb(163, 186, 217);
            width: 72%;
            max-height: 65vh; 

            height: 100%;
            padding: 1%;
            border: 1px solid #ccc;
            position: fixed;
            font-size: 2.6vw;
            font-family: sans-serif;
            
            
        }

        .listaTareasEliminadas li {
            margin-bottom: 10%;
                background-color: white; 
                border: 1px solid #ccc;
                padding: 10%;
        }  */


            
        .textoexplicativo {
            color: rgb(255, 255, 255);
            font-family:  sans-serif; 
            font-size: 2.5vw;
            position: absolute;
            top: 87%;
            left: 17%;
                
        }

        .textoexplicativo2 {
            color: rgb(255, 255, 255);
            font-family:  sans-serif; 
            font-size: 2.5vw;
            position: absolute;
            top: 90%;
            left: 17%;
                
        }

    }



            @media screen and (min-width: 601px) and (max-width: 1424px)  {
                /*
                .listaTareasEliminadas {
                    background-color: rgb(163, 186, 217);
                    width: 70%;
                    max-height: 65vh; 
                    height: 100%;
                    padding: 1%;
                    border: 1px solid #ccc;
                    position: fixed;
                    font-size: 1.5vw;
                    font-family: sans-serif;
    
                    
                }

                .listaTareasEliminadas li {
                    list-style-type: none;
                    display: flex;
                    flex-direction: row; 
                    align-items: center;
                    background-color: white;
                    border: 1px solid #ccc; 
                    padding: 0.5%;
                }  */

                   
                .textoexplicativo {
                    color: rgb(255, 255, 255);
                    font-family: 'Arial', sans-serif; 
                    font-size: 1.6vw;
                    position: absolute;
                    top: 84%;
                    left: 31%;
                        
                }

                .textoexplicativo2 {
                    color: rgb(255, 255, 255);
                    font-family: 'Arial', sans-serif; 
                    font-size: 1.6vw;
                    position: absolute;
                    top: 88%;
                    left: 31%;
                        
                }

            }

                    
  </style>
  </head>
  <body class="vh-100">
	<div class="d-flex flex-row vh-100">
		<div class="offcanvas offcanvas-start w-auto" id="navbarSupportedContent" style="background-color: #acc1e5;">
			<div class="offcanvas-header">
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>

			<div class="offcanvas-body">
				<ul class="nav flex-column">

					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="index()">
							<img src="/images/indexlogo.png" style="width: 100px;" >

						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="checklist()">
							<img src="/images/listaicono.png" style="width: 100px;" >
         
						</a>
					</li>
      
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="mascota()">
                            <img src="/images/homeicono.png" style="width: 100px;">
                   
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="tienda()">
                            <img src="/images/tiendalogo.png" style="width: 100px;">
            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="cementerio()">
                            <img src="/images/Tumba.png" style="width: 100px;">
            
                        </a>
                    </li>
				</ul>
			</div>
		</div>

		<div class="offcanvas offcanvas-top" id="navbarSupportedContentTop" style="background-color: #acc1e5;">
			<div class="offcanvas-header">
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="nav flex-row">
                    <li class="nav-item"  style="margin-right: -2%; ">
						<a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="index()">
							<img src="/images/indexlogo.png" style="width: 55px;" >
               
						</a>
					</li>
					<li class="nav-item" style="margin-right: -2%;">
						<a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="checklist()">
							<img src="/images/listaicono.png" style="width: 55px;" >
                            
						</a>
					</li>
            
                <li class="nav-item" style="margin-right: -2%;">
                    <a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="mascota()">
                        <img src="/images/homeicono.png" style="width: 55px;">
                      
                    </a>
                </li>
                <li class="nav-item" style="margin-right: -2%;">
                    <a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="tienda()">
                        <img src="/images/tiendalogo.png" style="width: 55px;">
                   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" style="text-align:center" onclick="cementerio()">
                        <img src="/images/Tumba.png" style="width: 60px;">
                       
                    </a>
                </li>
				</ul>
			</div>
		</div>





        <div class="flex-grow-1 d-flex flex-column">
			<div class="p-2  flex-grow-1 d-flex flex-column  justify-content-start align-items-stretch" style="background-color:rgb(82,107,141); color:white">

				<div class="d-flex flex-row justify-content-between">
					<a type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="d-none d-lg-block">
						<img src="/images/logo.png" style="width: 100px;">
					</a>

					<a type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContentTop" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="d-lg-none">
						<img src="/images/logo.png" style="width: 80px;">
					</a>

				</div>

               
		        <div class="flex-grow-1" style="background-color: rgb(163, 186, 217);">
                    <ul  class="listaTareasEliminadas" id="listaTareasEliminadas" >
                    </ul>   
                </div> 
                <div >
                    <div id="textoexplicativo" style="text-align: right;">Las tareas con fecha de hace un mes se borrarán automáticamente.</div>
  
                </div> 
                <div >
                    <div  id="textoexplicativo2" style="text-align: right;" >Las tareas restauradas ya no valdrán puntos.</div>  
                </div> 
               

                     
			</div>
		</div>


        
    </div>




  <script>
   

    
      var userId = '<%= user.id %>';
      
        
        //const tareasEliminadas = JSON.parse(localStorage.getItem('tareasEliminadas')) || []; ///
        let taskIdCounter = 0;
        const tareasEliminadasList = document.querySelector('.listaTareasEliminadas');

        /*
        const botonesRestaurar = document.querySelectorAll(".botonrestaurar");

        botonesRestaurar.forEach(boton => {
            boton.addEventListener('click', () => {
                console.log('Botón restaurar presionado');
                restaurarTarea(boton.parentElement.parentElement);
            });
        }); */

        

        function eliminarTareasAnterioresAUnMes() {                                                                         //ARREGLAR

         }

                /*
        function eliminarTarea(tareaRow) {
            const taskId = tareaRow.dataset.taskId;
            const tareas = JSON.parse(localStorage.getItem('tareas')) || []; //
            

            const tareaIndex = tareas.findIndex(task => task.id === parseInt(taskId));
            if (tareaIndex !== -1) {
                tareasEliminadas.push(tareas[tareaIndex]);
                tareas.splice(tareaIndex, 1);

                localStorage.setItem('tareas', JSON.stringify(tareas));  ///
                localStorage.setItem('tareasEliminadas', JSON.stringify(tareasEliminadas)); ///
            }
            tareaRow.remove();
        }  */

      
        const fechaActual = new Date();
        //const tareasEliminadas = JSON.parse(localStorage.getItem('tareasEliminadas')) || [];
        fetch('/' + userId +'/papeleras')
        .then(response => response.json())
        .then(data => {
            data.forEach(tarea => {
            if (tarea.fechaVencimiento) {
                        // Crear un objeto Date con la fecha de vencimiento
                        const fechaVencimiento = new Date(tarea.fechaVencimiento);
                        const diferenciaEnMilisegundos = fechaVencimiento - fechaActual;
                        const diferenciaEnDias = Math.floor(diferenciaEnMilisegundos / (1000 * 60 * 60 * 24));
                        


                        if (diferenciaEnDias > 30) {
                            fetch('/' + userId +`/papeleras/${tarea._id}`, {
                                method: 'DELETE',
                                })
                                .then(response => response.json())
                                .then(data => {
                                console.log('Tarea eliminada:', data);
                                })
                                .catch(error => console.error('Error al eliminar la tarea:', error));
 
                            return; 
                        }

                        // Obtener los componentes de la fecha
                        const año = fechaVencimiento.getFullYear();
                        const mes = ('0' + (fechaVencimiento.getMonth() + 1)).slice(-2);
                        const día = ('0' + fechaVencimiento.getDate()).slice(-2);
                        tarea.fechaVencimiento = `${año}-${mes}-${día}`;
            }

            const tareaItem = document.createElement('li');
            tareaItem.innerHTML = `
                <div class="col"> <label for="tarea1">${tarea.nombre}</label></div>
                <div class="col-2">${tarea.fechaVencimiento}</div>
                <div class="col-1">${tarea.puntos}</div>
                <div class="col-3">${tarea.tipotarea}</div>
                <div class="col-3"><button class="botonrestaurar">Restaurar</button></div>
            `;
            tareasEliminadasList.appendChild(tareaItem);

                    // Obtén una lista de todos los botones "Restaurar"
        const botonesRestaurar = tareaItem.querySelectorAll('.botonrestaurar');

        // Agrega un controlador de eventos a cada botón "Restaurar"
        botonesRestaurar.forEach(boton => {
                boton.addEventListener('click', () => {  
                    

                    var userId = '<%= user.id %>'; 

                    fetch('/' + userId + '/tareas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(tarea),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Tarea guardada:', data);
                    })
                    .catch(error => console.error('Error al guardar la tarea:', error));

   
                    const taskId = tarea._id;

                    fetch('/' + userId +`/papeleras/${taskId}`, {
                    method: 'DELETE',
                    })
                    .then(response => response.json())
                    .then(data => {
                    console.log('Tarea eliminada:', data);
                    })
                    .catch(error => console.error('Error al eliminar la tarea:', error));

                

                var userId = '<%= user.id %>';
                window.location.href = "/checklist/" + userId;

                    
                });
            });


        });
        })
        .catch(error => console.error('Error al obtener la lista de tareas:', error));
        



        function compareDates(dateStringA, dateStringB) {
            
            const dateA = new Date(dateStringA);
            const dateB = new Date(dateStringB);
            return dateA - dateB;
        }

        function ordenarTareasPorFecha() {
            const listaTareas = document.querySelector('.listaTareasEliminadas');
            const tareas = Array.from(listaTareas.querySelectorAll('li'));

            tareas.sort((a, b) => {
                const fechaA = a.querySelector('.col-2').textContent;
                const fechaB = b.querySelector('.col-2').textContent;
                return compareDates(fechaA, fechaB);
            });

            while (listaTareas.firstChild) {
                listaTareas.removeChild(listaTareas.firstChild);
            }

            tareas.forEach(tarea => {
                listaTareas.appendChild(tarea);
            });
        }

        eliminarTareasAnterioresAUnMes();
        ordenarTareasPorFecha();
</script>



<script>
    function index(){
        var userId = '<%= user.id %>';
        window.location.href = "/"  + userId;

    }

    function mascota(){
        var userId = '<%= user.id %>';
      window.location.href = "/mascota/" + userId;

    }

    function cementerio(){
        var userId = '<%= user.id %>';
      window.location.href = "/cementerio/" + userId;

    }

    function tienda(){
        var userId = '<%= user.id %>';
        window.location.href = "/tienda/" + userId;
    }		 
	

    function checklist(){
		console.log("Checklist");
		var userId = '<%= user.id %>';
		window.location.href = "/checklist/" + userId;
	}

</script>
    <script src="/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js"></script>

    <!--  <h1>Hello, world!</h1> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>